<!doctype html>
<html>
    <head>
        <%= partial "head" %>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark justify-content-between justify-content-md-center pl-4 pr-4 pl-md-0 pr-md-0" id="nav">
            <a href="/" id="logo">
                <%= image_tag "logo-white.png", class: "nav-logo" %>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container">
                <%= partial "navbar", locals: { navbar_html_class: "ml-lg-auto mr-lg-auto" } %>
            </div>
        </nav>

        <%= yield %>

        <%= javascript_include_tag "site" %>
    </body>
</html>
