---
title: Product | Multipass
description: Product details for Multipass, the secure and fast way to share passwords, keys, and configs with your team
---

<% content_for :page_subtitle do %>
    <p class="lead">Product walkthrough</p>
<% end %>

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Create groups for your teams</h3>
                    <p style="text-align:center">
                        <%= image_tag "product/create_groups.png", class: 'ml-auto mr-auto mb-4 headshot' %>
                    </p>
                    <h3 class="text-center">Check which users in your organization have installed Multipass</h3>
                    <p style="text-align:center">
                        <%= image_tag "product/check_users.png", class: 'ml-auto mr-auto mb-4 headshot' %>
                    </p>    
                    <h3 class="text-center">Easily add teammates to groups</h3>
                    <p style="text-align:center">
                        <%= image_tag "product/add_team.png", class: 'ml-auto mr-auto mb-4 headshot' %>
                        </p>
                    <h3 class="text-center">Add passwords to share with everyone in your Sales team</h3>
                    <p style="text-align:center">
                        <%= image_tag "product/sales_secret.png", class: 'ml-auto mr-auto mb-4 headshot' %>
                    </p>
                    <h3 class="text-center">Add SSH keys and certs to share with your Dev team</h3>
                    <p style="text-align:center">
                        <%= image_tag "product/dev_secret.png", class: 'ml-auto mr-auto mb-4 headshot' %>
                    </p>
                    <h3 class="text-center">Search across your groups for secrets</h3>
                    <p style="text-align:center">
                        <%= image_tag "product/search.png", class: 'ml-auto mr-auto mb-4 headshot' %>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
